<section id="about">
  <div class="container">
    <h2 class="about-title">About the game</h2>
    <h3 class="about-subtitle">A Candyland Classic Reimagined</h3>
    <div class="about-img-wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./img/about-des1x.jpg 1x, ./img/about-des2x.jpg 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/about-mob1x.jpg 1x, ./img/about-mob2x.jpg 2x"
        />
        <img
          class="about-img"
          src="./img/about-mob1x.jpg"
          alt="about-img"
          loading="lazy"
        />
      </picture>
      <ul class="about-list">
        <li class="about-list-item">
          Lollipop World is one of the most charming and satisfying match-3
          experiences available.
        </li>
        <li class="about-list-item">
          With over 2,000 handcrafted levels, new candy mechanics every few
          worlds, and a gentle learning curve, this is a treat for newcomers and
          veterans alike.
        </li>
        <li class="about-list-item">
          Switch, match, and explore - with no timer, no pressure, and no limits
          to the sugar fun.
        </li>
      </ul>
    </div>
  </div>
</section>
