<section class="about">
  <div class="container">
    <h2 class="about-title">About the game</h2>
    <h3 class="about-subtitle">A Candyland Classic Reimagined</h3>
    <div class="about-img-wrapper">
      <img src="../img/Pct - about game.png" alt="about" class="about-img" />
      <div class="about-items">
        <ul>
          <div class="items-up">
            <li>
              <p class="about-text">
                Lollipop World is one of the most charming and satisfying
                match-3 experiences available.
              </p>
            </li>
          </div>
          <div class="items-middle">
            <li>
              <p class="about-text">
                With over 2,000 handcrafted levels, new candy mechanics every
                few worlds, and a gentle learning curve, this is a treat for
                newcomers and veterans alike.
              </p>
            </li>
          </div>
          <div class="items-down">
            <li>
              <p class="about-text">
                Switch, match, and explore - with no timeer, no pressure, and no
                limits to the sugar fun.
              </p>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
