<section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters & Combos</h2>
    <div class="boosters-subtitle">
      <p>Unleash the Power of Sugar</p>
    </div>
    <div class="boosters-content">
      <div class="boosters-first-row boosters-row">
        <div class="boosters-block">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/pct-Hammer-dsk.jpg    1x,
                ../img/pct-Hammer-dsk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/pct-Hammer-mob.jpg    1x,
                ../img/pct-Hammer-mob@2x.jpg 2x
              "
            />
            <div class="boosters-img-wrapper"> <img
              class="boosters-img"
              src="../img/pct-Hammer-mob.jpg"
              alt="hammer"
              loading="lazy"
            />
          </div>    
          </picture>
          <div class="boosters-text">
            <p>Lollipop Hammer - smash any tile</p>
          </div>
        </div>
        <div class="boosters-block">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="../img/pct-Bomb-dsk.jpg 1x, ../img/pct-Bomb-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="../img/pct-Bomb-mob.jpg 1x, ../img/pct-Bomb-mob@2x.jpg 2x"
            />
            <div class="boosters-img-wrapper">
                <img
              class="boosters-img"
              src="../img/pct-Bomb-mob.jpg"
              alt="bomb"
              loading="lazy"
            />
            </div>
          
          </picture>
          <div class="boosters-text">
            <p>Sprinkle Bomb - detonates all candies of one color</p>
          </div>
        </div>
      </div>
      <div class="boosters-second-row boosters-row">
        <div class="boosters-block">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/pct-Rainbow-dsk.jpg    1x,
                ../img/pct-Rainbow-dsk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/pct-Rainbow-mob.jpg    1x,
                ../img/pct-Rainbow-mob@2x.jpg 2x
              "
            />
            <div class="boosters-img-wrapper">
               <img
              class="boosters-img"
              src="../img/pct-Rainbow-mob.jpg"
              alt="rainbow"
              loading="lazy"
            />
            </div>
           
          </picture>
          <div class="boosters-text">
            <p>Rainbow Twirl - clears cross - patterns</p>
          </div>
        </div>
        <div class="boosters-block">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/pct-Chocolate-dsk.jpg    1x,
                ../img/pct-Chocolate-dsk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/pct-Chocolate-mob.jpg    1x,
                ../img/pct-Chocolate-mob@2x.jpg 2x
              "
            />
            <div class="boosters-img-wrapper">
               <img
              class="boosters-img"
              src="../img/pct-Chocolate-mob.jpg"
              alt="chocolate"
              loading="lazy"
            />
            </div>
           
          </picture>
          <div class="boosters-text">
            <p>Chocolate Bar - breaks layered blockers</p>
          </div>
        </div>
      </div>
      <div class="boosters-third">
        <div class="block">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/pct-board-dsk.jpg    1x,
                ../img/pct-board-dsk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../img/pct-board-mob.jpg    1x,
                ../img/pct-board-mob@2x.jpg 2x
              "
            />
            <div class="boosters-img-wrapper">
               <img
              class="boosters-img"
              src="../img/pct-board-mob.jpg"
              alt="board"
              loading="lazy"
            />
            </div>
           
          </picture>
          <div class="boosters-text">
            <p>Combine two specials for massive board - clears</p>
          </div>
        </div>
      </div>
      <div class="boosters-bottom-text">
        <p>The more strategic your play, the sweeter your victories.</p>
      </div>
    </div>
  </div>
</section>
