<section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters & Combos</h2>
    <h3 class="boosters-subtitle">Unleash the Power of Sugar</h3>
    <div class="boosters-desktop">
      <ul>
      <li class="boosters-items">
        <img class="boosters-picture"
          src="../img/pct - Hammer.png"
          srcset="../img/pct - Hammer.png 1x, ../img/pct - Hammer@2x.png 2x"
          alt="hammer"
        
          
        />
        <div class="boosters-text">
          <p>Lollipop Hammer - smash any tile</p>
        </div>
      </li>
      <li class="boosters-items">
        <img class="boosters-picture"
          src="../img/pct Bomb.png"
          srcset="../img/pct Bomb.png 1x, ../img/pct Bomb@2x.png 2x"
          alt="bomb"
          
        />
        <div class="boosters-text">
          <p>Sprinkle Bomb - detonates all candies of one color</p>
        </div>
      </li>
      <li class="boosters-items">
        <img class="boosters-picture"
          src="../img/pct Rainbow.png"
          srcset="../img/pct Rainbow.png 1x, ../img/pct Rainbow@2x.png 2x"
          alt="rainbow"
          
        />
        <div class="boosters-text">
          <p>Rainbow Twirl - clears cross - patterns</p>
        </div>
      </li>
      <li class="boosters-items">
        <img class="boosters-picture"
          src="../img/pct Chocolate.png"
          srcset="../img/pct Chocolate.png 1x, ../img/pct Chocolate@2x.png 2x"
          alt="chocolate"
         
        />
        <div class="boosters-text">
          <p>Chocolate Bar - breaks layered blockers</p>
        </div>
      </li>
      <li class="boosters-items">
        <img class="boosters-picture"
          src="../img/pct board.png"
          srcset="../img/pct board.png 1x, ../img/pct board@2x.png 2x"
          alt="Логотип"
         
        />
        <div class="boosters-text">
          <p>Combine two specials for massive board - clears!</p>
        </div>
      </li>
    </div>
    </ul>
    <div class="boosters-main-text">
        <p>The more strategic your play, the sweeter your victories</p>
      </div>
  </div>
</section>

<!-- <section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters & Combos</h2>
    <h3 class="boosters-subtitle">Unleash the Power of Sugar</h3>

    
    <div class="boosters-row">
      <div class="boosters-item">
        <img src="..." alt="hammer" />
        <div class="boosters-text">
          <p>Lollipop Hammer - smash any tile</p>
        </div>
      </div>
      <div class="boosters-item reverse">
        <img src="..." alt="bomb" />
        <div class="boosters-text">
          <p>Sprinkle Bomb - detonates all candies of one color</p>
        </div>
      </div>
    </div>

    
    <div class="boosters-row">
      <div class="boosters-item">
        <img src="..." alt="rainbow" />
        <div class="boosters-text">
          <p>Rainbow Twirl - clears cross-patterns</p>
        </div>
      </div>
      <div class="boosters-item reverse">
        <img src="..." alt="chocolate" />
        <div class="boosters-text">
          <p>Chocolate Bar - breaks layered blockers</p>
        </div>
      </div>
    </div>

  
    <div class="boosters-row center">
      <div class="boosters-item">
        <img src="..." alt="combo" />
        <div class="boosters-text">
          <p>Combine two specials for massive board-clears!</p>
        </div>
      </div>
    </div>

    <div class="boosters-main-text">
      <p>The more strategic your play, the sweeter your victories</p>
    </div>
  </div>
</section> -->
