<section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters & Combos</h2>
    <h3 class="boosters-second-title">Unleash the Power of Sugar</h3>
    <ul class="boosters-list">
      <li class="boosters-list-item">
        <picture>
          <source
            width="160"
            height="144"
            media="(min-width: 1200px)"
            srcset="./img/hammer-des1x.jpg 1x, ./img/hammer-des2x.jpg 2x"
          />
          <source
            width="124"
            height="97"
            media="(min-width: 320px)"
            srcset="./img/hammer-mob1x.jpg 1x, ./img/hammer-mob2x.jpg 2x"
          />
          <img
            class="boosters-img"
            src="hammer-mob1x"
            alt="logo"
            loading="lazy"
          />
        </picture>
        <p class="boosters-list-text">Lollipop Hammer – smash any tile</p>
      </li>
      <li class="boosters-list-item">
        <picture>
          <source
            width="160"
            height="144"
            media="(min-width: 1200px)"
            srcset="./img/bomb-des1x.jpg 1x, ./img/bomb-des2x.jpg 2x"
          />
          <source
            width="124"
            height="97"
            media="(min-width: 320px)"
            srcset="./img/bomb-mob1x.jpg 1x, ./img/bomb-mob2x.jpg 2x"
          />
          <img
            class="boosters-img"
            src="./img/bomb-mob1x.jpg"
            alt="logo"
            loading="lazy"
          />
        </picture>
        <p class="boosters-list-text">
          Sprinkle Bomb – detonates all candies of one color
        </p>
      </li>
      <li class="boosters-list-item">
        <picture>
          <source
            width="160"
            height="144"
            media="(min-width: 1200px)"
            srcset="./img/rainbow-des1x.jpg 1x, ./img/rainbow-des2x.jpg 2x"
          />
          <source
            width="124"
            height="97"
            media="(min-width: 320px)"
            srcset="./img/rainbow-mob1x.jpg 1x, ./img/rainbow-mob2x.jpg 2x"
          />
          <img
            class="boosters-img"
            src="./img/rainbow-mob1x.jpg"
            alt="logo"
            loading="lazy"
          />
        </picture>
        <p class="boosters-list-text">Rainbow Twirl – clears cross-patterns</p>
      </li>
      <li class="boosters-list-item">
        <picture>
          <source
            width="160"
            height="144"
            media="(min-width: 1200px)"
            srcset="./img/chocolate-des1x.jpg 1x, ./img/chocolate-des2x.jpg 2x"
          />
          <source
            width="124"
            height="97"
            media="(min-width: 320px)"
            srcset="./img/chocolate-mob1x.jpg 1x, ./img/chocolate-mob2x.jpg 2x"
          />
          <img
            class="boosters-img"
            src="./img/chocolate-mob1x.jpg"
            alt="logo"
            loading="lazy"
          />
        </picture>
        <p class="boosters-list-text">
          Chocolate Bar – breaks layered blockers
        </p>
      </li>
      <li class="boosters-list-item">
        <picture>
          <source
            width="160"
            height="144"
            media="(min-width: 1200px)"
            srcset="./img/board-des1x.jpg 1x, ./img/board-des2x.jpg 2x"
          />
          <source
            width="124"
            height="97"
            media="(min-width: 320px)"
            srcset="./img/board-mob1x.jpg 1x, ./img/board-mob2x.jpg 2x"
          />
          <img
            class="boosters-img"
            src="./img/board-mob1x.jpg"
            alt="logo"
            loading="lazy"
          />
        </picture>
        <p class="boosters-list-text">
          Combine two specials for massive board - clears!
        </p>
      </li>
    </ul>
    <p class="puzzle-text-italic">
      The more strategic your play, the sweeter your victories.
    </p>
  </div>
</section>
