<section id="goals">
  <div class="container">
    <h2 class="goals-title">Daily Goals & Challenges</h2>
    <h3 class="goals-second-title">More Matches = More Rewards</h3>
    <ul class="goals-list">
      <li class="goals-list-item">Complete daily challenges and earn coins</li>
      <li class="goals-list-item">Spin the Candy Wheel every morning</li>
      <li class="goals-list-item">
        Claim free boosters from your Lollipop Calendar
      </li>
      <li class="goals-list-item">
        Join weekend events with special boards and unique rules
      </li>
      <li class="goals-list-item">
        Participate in limited-time tournaments and top the leaderboards
      </li>
    </ul>
    <p class="puzzle-text-italic">
      Every day in Lollipop World brings a new candy mission!
    </p>
  </div>
</section>
