<div class="cookie-wrapper-bg">
  <div id="cookie-banner" class="cookie-banner container" data-visible="false">
    <div class="cookie-info">
      <h2 class="cookie-title">Cookies Policy</h2>
      <p class="cookie-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-buttons">
      <button class="cookie-accept" id="accept-cookie">ACCEPT COOKIES</button>
      <button class="cookie-reject" id="reject-cookie">DECLINE COOKIES</button>
    </div>
  </div>
</div>
