<!-- <FAQ>
  <ul>
    <li>
      <p>is lollipop world free?</p>
      <p>Yes! Completely free, with optional in-app items.</p>
    </li>
    <li>
      <p>Are there lives or timers?</p>
      <p>No timers. Lives refill over time, of by watching a quick ad.</p>
    </li>
<li>
  <p>Can I play offline?</p>
  <p>Yes - all main levels are playable offline.</p>
</li>
<li>
  <p>How many levels are there?</p>
  <p>Over 2,000, with new ones added every two weeks!</p>
</li>
<li>
  <p>What do i do when stuck?</p>
  <p>Use boosters, ask friends for lives, or retry with a fresh strategy.</p>
</li>
  </ul>
</FAQ> -->