<footer class="container footer" >
  <div class="footer-box">
     <div class="footer-cookie">
<ul class="terms">
  <li class="terms-items">
    <a href="terms_conditions.html">Terms & Conditions</a>
  </li>
  <li class="terms-items">
    <a href="privacy_policy.html">Privacy Policy</a>
  </li>
  <li class="terms-items">
    <a href="cookies_policy.html">Cookie Policy</a>
  </li>
</ul>
  </div>
  <div class="footer-social-media">
<svg class="icon"> <use xlink: href="../img/sprite.svg#icon-streamline_instagram"></use></svg>
<svg class="icon"> <use xlink: href="../img/sprite.svg#icon-Vector_qlementine"></use></svg>
<svg class="icon"> <use xlink: href="../img/sprite.svg#icon-Vector_facebook"></use></svg>
<svg class="icon"> <use xlink: href="../img/sprite.svg#icon-Vector_tiktok"></use></svg>
  </div>
  <div class="footer-copyright">
<ul>
  <li>
    <p>All rights reserved</p>
    <a href="lollipopcrownpuzzle.com">lollipopcrownpuzzle.com <span>&copy; 2025</span></a>
  </li>
</ul>
  </div>
  </div>
 
</footer>