<section class="gallery">
  <h2 class="gallery-title">Gallery</h2>
  <!-- <div class="gallery-swipe">
    <p> swipe will be here</p>
  </div> -->
   <div class="slider-container">
        <div class="slider-wrapper" id="sliderWrapper">
            <div class="slide">
                <h2>Слайд 1</h2>
                <p>Це перший слайд.</p>
            </div>
            <div class="slide">
                <h2>Слайд 2</h2>
                <p>Це другий слайд.</p>
            </div>
            <div class="slide">
                <h2>Слайд 3</h2>
                <p>Це третій слайд.</p>
            </div>
        </div>
    </div>
</section>