<section id="gallery">
  <div class="container">
    <h2 class="gallery-title">
      Gallery
    </h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/Combo-dsk.jpg 1x, ./img/Combo-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./img/Combo-mob.jpg 1x, ./img/Combo-mob@2x.jpg 2x"
            />
            <img
              class="boosters-img"
              src="./img/Combo-mob.jpg"
              alt="Combo"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/Booster-dsk.jpg 1x, ./img/Booster-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./img/Booster-mob.jpg 1x, ./img/Booster-mob@2x.jpg 2x"
            />
            <img
              class="boosters-img"
              src="./img/Booster-mob.jpg"
              alt="Booster"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/map-dsk.jpg 1x, ./img/map-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./img/map-mob.jpg 1x, ./img/map-mob@2x.jpg 2x"
            />
            <img
              class="boosters-img"
              src="./img/map-mob.jpg"
              alt="Map"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/spinning-dsk.jpg 1x, ./img/spinning-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./img/spinning-mob.jpg 1x, ./img/spinning-mob@2x.jpg 2x"
            />
            <img
              class="boosters-img"
              src="./img/spinning-mob.jpg"
              alt="spinning"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./img/coin-rewards-dsk.jpg 1x, ./img/coin-rewards-dsk@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./img/coin-rewards-mob.jpg 1x, ./img/coin-rewards-mob@2x.jpg 2x"
            />
            <img
              class="boosters-img"
              src="./img/coin-rewards-mob.jpg"
              alt="coin-rewards"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
