<header>
  <div class="container container-header">
    <a class="logo-header" href="./index.html"
      ><img src="./img/logo.png" alt="logo" width="30" height="30"
    /></a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item"><a href="#hero">Home</a></li>
        <li class="header-item"><a href="#puzzle">Puzzle mechanics</a></li>
        <li class="header-item"><a href="#goals">Goals</a></li>
        <li class="header-item"><a href="#reviews">Reviews</a></li>
        <li class="header-item"><a href="#visual">Visual</a></li>
        <li class="header-item"><a href="#strategy">Strategy</a></li>
        <li class="header-item"><a href="#boosters">Boosters</a></li>
        <li class="header-item"><a href="#about">About the Game</a></li>
        <li class="header-item"><a href="#gallery">Gallery</a></li>
        <li class="header-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button class="burger-btn" data-action="open" type="button">
      <svg class="burger-menu-svg" width="30" height="30">
        <use
          href="./img/sprite.svg#icon-iconamoon_menu-burger-horizontal"
        ></use>
      </svg>
    </button>
    <div class="burger-menu" data-visible="close">
      <div class="wrapper-burger">
        <a class="logo-header" href="./index.html"
          ><img
            class="logo-header"
            src="./img/logo.png"
            alt="logo"
            width="30"
            height="30"
        /></a>
        <button class="burger-btn-close" data-action="close" type="button">
          <svg class="burger-menu-svg" width="30" height="30">
            <use href="./img/sprite.svg#icon-material-symbols_close"></use>
          </svg>
        </button>
      </div>
      <ul class="burger-list">
        <li class="burger-item"><a href="./index.html">Home</a></li>
        <li class="burger-item"><a href="#puzzle">Puzzle mechanics</a></li>
        <li class="burger-item"><a href="#goals">Goals</a></li>
        <li class="burger-item"><a href="#reviews">Reviews</a></li>
        <li class="burger-item"><a href="#visual">Visual</a></li>
        <li class="burger-item"><a href="#strategy">Strategy</a></li>
        <li class="burger-item"><a href="#boosters">Boosters</a></li>
        <li class="burger-item"><a href="#about">About the Game</a></li>
        <li class="burger-item"><a href="#gallery">Gallery</a></li>
        <li class="burger-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>
