<section class="matching">
  <div class="container">
    <h2 class="matching-title">Let's get matching</h2>

    <img class="matching-logo" src="../img/pct -logo.png" alt="logo" />

    <p class="matching-text">
      Your lollipop journey awaits – sweet rewards, clever levels, and hours of sugar-coated joy.<br>
      Tap, swipe, and crush your way to the Candy Crown.
    </p>

    <a href="https://play.google.com/store" class="matching-btn" target="_blank" rel="noopener noreferrer">
      <img src="../img/logos_google-play-icon.png" alt="Google Play Icon" class="btn-icon" />
      Google Play
    </a>
  </div>
</section>
