<section class="matching">
  <div class="container matching-wrapper">
    <h2 class="matching-title">Let's get matching</h2>
    <div class="matching-image-box">
      <img class="matching-logo" src="../img/pct -logo.png" alt="logo" />
    </div>

    <div class="matching-content">
      
      <p class="matching-text">
        Your lollipop journey awaits – sweet rewards, clever levels, and hours
        of sugar-coated joy.<br />
        Tap, swipe, and crush your way to the Candy Crown.
      </p>

      <a
        href="https://play.google.com/store/apps/details?id=net.playtouch.candyworldmm&hl=en&gl=us"
        class="matching-btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../img/logos_google-play-icon.png"
          alt="Google Play Icon"
          class="btn-icon"
        />
        Google Play
      </a>
    </div>
  </div>
</section>
