<section id="puzzle">
  <div class="container">
    <h2 class="puzzle-title"> Puzzle Mechanics</h2>
    <h3 class="puzzle-second-title">
      How Do You Conquer a World Made of Candy?
    </h3>
    <div class="puzzle-wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./img/puzzle-img-des1x.jpg 1x, ./img/puzzle-img-des2x.jpg 2x"
          width="375"
          height="362"
        />
        <source
          width="274"
          height="302"
          media="(min-width: 320px)"
          srcset="./img/puzzle-img-mob1x.jpg 1x, ./img/puzzle-img-mob2x.jpg 2x"
        />
        <img
          class="puzzle-img"
          src="./img/puzzle-img-mob1x.jpg"
          alt="logo"
          loading="lazy"
        />
      </picture>
      <ul class="puzzle-list">
        <li class="puzzle-list-item">
          Match 3 candies to pop them off the board
        </li>
        <li class="puzzle-list-item">Match 4 or 5 to unleash Super Candies</li>
        <li class="puzzle-list-item">
          Clear jelly, ice, chocolate, and waffle blockers
        </li>
        <li class="puzzle-list-item">
          Activate boosters like lollipop hammers and sprinkle bombs
        </li>
        <li class="puzzle-list-item">Chain reactions = mega sugar blasts</li>
        <li class="puzzle-list-item">
          The fewer the moves, the higher your score
        </li>
      </ul>
    </div>
    <p class="puzzle-text-italic">
      It's easy to start, but tricky to master — just like the perfect lollipop
      swirl.
    </p>
  </div>
</section>
