<section id="strategy">
  <div class="container">
    <h2 class="strategy-title">Strategy & Thinking</h2>
    <h3 class="strategy-second-title">Relaxation Meets Logic</h3>
    <p class="strategy-text">
      Logic Match3 done right. No rushing, no pressure — just you and your
      brain:
    </p>
    <div class="strategy-wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./img/strategy-des1x.jpg 1x, ./img/strategy-des2x.jpg 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/strategy-mob1x.jpg 1x, ./img/strategy-mob2x.jpg 2x"
        />
        <img
          class="strategy-img"
          src="./img/strategy-mob1x.jpg"
          alt="strategy"
          loading="lazy"
        />
      </picture>
      <ul class="strategy-list">
        <li class="strategy-list-item">
          Plan combos instead of random tapping
        </li>
        <li class="strategy-list-item">
          Save boosters for extra-sticky situations
        </li>
        <li class="strategy-list-item">
          Use color bombs to create clearing waves
        </li>
        <li class="strategy-list-item">
          Observe candy movement patterns for better decisions
        </li>
      </ul>
    </div>
    <p class="puzzle-text-italic">Your brain deserves candy, too.</p>
  </div>
</section>
