<section id="visual">
  <div class="container">
    <h2 class="visual-title">Visuals & Animation</h2>
    <h3 class="visual-second-title">A Feast for the Eyes (and Fingers)</h3>
    <div class="visual-wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./img/visual-img-des1x.jpg 1x, ./img/visual-img-des2x.jpg 2x"
          width="375"
          height="362"
        />
        <source
          width="274"
          height="302"
          media="(min-width: 320px)"
          srcset="./img/visual-img-mob1x.jpg 1x, ./img/visual-img-mob2x.jpg 2x"
        />
        <img
          class="visual-img"
          src="./img/visual-img-mob1x.jpg"
          alt="logo"
          loading="lazy"
        />
      </picture>
      <ul class="visual-list">
        <li class="visual-list-item">
          High-gloss candy art with smooth motion transitions
        </li>
        <li class="visual-list-item">
          Sticky sparkle trails follow your finger
        </li>
        <li class="visual-list-item">Combo blasts with dynamic effects</li>
        <li class="visual-list-item">
          Candy lands: Gummy Forest, Cupcake Lagoon, Choco Volcano
        </li>
        <li class="visual-list-item">
          Fluid animations — every tap feels juicy
        </li>
      </ul>
    </div>
    <p class="puzzle-text-italic">
      This isn’t just a game. It’s edible art in motion
    </p>
  </div>
</section>
