.about-title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about-subtitle {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.about-img {
  margin-bottom: 24px;
}

.about-text {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
}

.about-items {
  margin-bottom: 32px;
}

@media only screen and (min-width: 1200px) {

  .about-img-wrapper {
    display: flex;
    justify-content: center;
    gap: 180px;
  }

  .about-img {
    width: 375px;
    height: 318px;
    margin-bottom: 0px;
  }

  .about-items {
    width: 527px;
    height: 318px;
    margin-bottom: 0px;
  }

  .about-text {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .items-up {
    margin-bottom: 30px;
  }
}

.items-middle {
  margin-bottom: 30px;
}

.about-subtitle {
  font-size: 24px;
}
