.about-title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about-subtitle {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.about-img {
  margin-bottom: 24px;
}

.about-text {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
}

.about-items {
  margin-bottom: 32px;
}


@media only screen and (min-width: 1200px){
  .about{
    margin-bottom: 72px;
    /* margin-left: 259px; */
  }

.about-img-wrapper{
display: flex;
gap: 180px;
}

.about-img {
  width: 375px;
  height: 318px;
}

.about-items{
width: 527px;
height: 318px;
}

.about-text {
  font-size: 24px;
}
}

