.boosters-title {
  text-align: center;
}

.boosters-subtitle {
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 20px;
}

.boosters-content {
  display: flex;
  flex-direction: column;
}

.boosters-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  gap: 24px;
  width: 273px;
}

.boosters-img-wrapper {
  width: 124px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boosters-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.boosters-block img,
.boosters-third img {
  width: 124px;
  height: auto;
}

.boosters-block img {
  height: auto;
  flex-shrink: 0;
}

.boosters-img {
  width: 160px;
}

.boosters-text {
  flex-grow: 1;
  text-align: left;
}

.boosters-third .block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.boosters-third img {
  height: auto;
  flex-shrink: 0;
}

.boosters-third .text {
  flex-grow: 1;
  text-align: left;
}

.boosters-bottom-text {
  margin-top: 24px;
  text-align: center;
}

.boosters-bottom-text {
  font-family: 'Poppins';
  font-weight: 250;
  text-align: center;
  font-style: italic;
}

@media only screen and (min-width: 1200px) {
  .boosters-title {
    text-align: center;
  }

  .boosters-subtitle {
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .boosters-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .boosters-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
  }

  .boosters-block {
    display: flex;
    align-items: center;
    margin-right: 208px;
    width: 435px;
    margin-bottom: 0;
    gap: 32px;
  }

  .boosters-img-wrapper {
    width: 160px;
    height: 144px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boosters-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .boosters-block:last-child {
    margin-right: 0;
  }

  .boosters-text {
    width: 246px;
  }

  .boosters-third {
    display: flex;
    justify-content: center;
  }

  .boosters-third .block {
    display: flex;
    align-items: stretch;
    height: 144px;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
  }

  .boosters-third picture {
    height: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boosters-third .board-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
  }

  .boosters-third .text {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 220px;
  }

  .boosters-text,
  .boosters-third .text {
    display: flex;
    align-items: center;
  }
}
