/* Styles for Mobile devices */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 25px;
}

section {
  scroll-margin-top: 32px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  section {
    scroll-margin-top: 72px;
  }
}
