.footer {
  background-color: var(--footer);
  font-family: var(--font-family);
  width: 100%;
  padding: 25px 0;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.copyright-item {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  .terms {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-social-media {
    justify-content: center;
    gap: 141px;
  }

  .copyright-item {
    flex-direction: row;
    justify-content: center;
    gap: 124px;
  }
}
