.footer {
 background-color: var(--footer);
 padding-top: 24px;
 padding-bottom: 19px;
}

.terms{
   display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);
 width: 272px;
 height: 84px;
}

.footer-social-media{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;

}

.icon{
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  width: 24px;
  height: 24px;
  fill: currentColor;
}