header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  border-bottom: 1px solid #d1d4ec;
  background-color: var(--footer);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.logo-header {
  border-radius: 10px;
  max-width: none;
}

.header-list {
  display: none;
}
.header-item {
  display: flex;
  font-size: 16px;
  text-align: center;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burger-btn {
  border: none;
  background-color: inherit;
}

.burger-menu-svg {
  stroke: var(--text);
}
.burger-menu {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(to bottom, #b2e6ff, #d4c7ff);
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: cover;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.wrapper-burger {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.burger-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 0 25px;
}
.burger-btn-close {
  align-self: baseline;
  padding: 4px;
  border: none;
  background-color: inherit;
}

@media only screen and (min-width: 1200px) {
  .logo-header {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
  }
  .burger-btn {
    display: none;
  }
  .header-list {
    width: 1024px;
    display: flex;
    gap: 40px;
  }
  .header-item:hover {
    color: var(--hover-button);
    scale: 1.1;
  }

  .container-header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    gap: 21px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

[data-visible='open'] {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}

[data-visible='close'] {
  transform: translateX(100%);
}
