.matching-title{
  text-align: center;
  margin-bottom: 24px;
}

.matching-logo{
  margin-bottom: 24px;
}

.matching-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.matching-btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 49px;
  background-color: #f9f9f9;
  color: var(--text);
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  border-radius: 4px;
  gap: 16px;
  width: 272px;
  height: 48px;
  margin-bottom: 32px;
}

.matching-btn:hover {
  color:#f9f9f9;
  background-color: #A66dd4;
}

.btn-icon {
  width: 24px;
  height: 24px;
}
